anyio
asyncgui
asynckivy
certifi
charset-normalizer
docutils
et_xmlfile
filetype
idna
Kivy
kivy-deps.angle
kivy-deps.glew
Kivy-Garden
kivy_deps.sdl2
kvhot
materialyoucolor
numpy
openpyxl
pandas
pillow
https://github.com/kivymd/KivyMD/archive/master.zip
Pygments
pypiwin32
python-dateutil
pytz
pywin32
pyinstaller==5.13.2
requests
six
sniffio
typing_extensions
tzdata
urllib3
uv
watchfiles